# The Bake Chef Project

Here's some EDA

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('../data/BakeChefData - Sheet1.csv')
data.head()

,NAME,SUB,BREAD,SUB_SAUCE,MAYO,CUCUMBER,CARROTS,LETTUCE,CILANTRO,ONIONS,JALAPENO,SALT,PEPPER,SOY SAUCE,HOT SAUCE
0,Anna,Beef Satay (no Cheese),White,0,1,1,1,1,1,0,1,1,1,0,0
1,Rulan,Spicy Beef w/ Cheese,White,1,0,1,1,1,1,1,1,1,1,1,1
2,Rulan,Spicy Beef w/ Cheese,White,1,0,1,1,1,1,1,1,1,1,0,1
3,Rulan,Spicy Beef w/ Cheese,White,1,0,1,1,1,1,1,1,1,1,0,1
4,Jaide,Beef Satay w/ Cheese,Brown,1,0,1,1,1,0,0,0,1,1,0,0

How about which toppings seem to go together?

In [62]:
# Remove string columns
toppings = data.iloc[:,3:]
# Dot product of toppings matrix
t_mat = toppings.T.dot(toppings)
t_mat

,SUB_SAUCE,MAYO,CUCUMBER,CARROTS,LETTUCE,CILANTRO,ONIONS,JALAPENO,SALT,PEPPER,SOY SAUCE,HOT SAUCE
SUB_SAUCE,70,38,67,67,57,52,28,23,44,45,10,24
MAYO,38,48,45,46,41,43,16,9,34,33,5,8
CUCUMBER,67,45,78,76,67,60,25,25,50,52,13,24
CARROTS,67,46,76,78,65,60,27,27,50,52,13,24
LETTUCE,57,41,67,65,68,52,25,24,47,47,9,23
CILANTRO,52,43,60,60,52,63,26,21,43,44,10,18
ONIONS,28,16,25,27,25,26,28,17,22,24,5,17
JALAPENO,23,9,25,27,24,21,17,27,18,21,8,20
SALT,44,34,50,50,47,43,22,18,53,49,5,15
PEPPER,45,33,52,52,47,44,24,21,49,55,7,18
SOY SAUCE,10,5,13,13,9,10,5,8,5,7,13,7
HOT SAUCE,24,8,24,24,23,18,17,20,15,18,7,25

In [24]:
data['NAME'].value_counts()

Jordan       25
Rulan        11
Jaide         7
Derek         5
Zach          5
Meagan        4
Brad          4
Anna          3
Aldebaran     2
Ishruna       2
Byron         2
Mary G        2
Vardaan       1
Rishabh       1
Bill          1
Eric          1
AJ            1
Michael       1
May Lynn      1
Graham        1
Barb          1
Name: NAME, dtype: int64